<nav class="navbar" style="background-color: #D4AF37;width: 100%;">
    <div class="container-fluid" style="display: flex;width: 100%;">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo-icon-removebg-preview.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <div style="display: flow-root;">
        <h1 style="margin-bottom: 0%; margin-top: 7%;">Emperior King</h1>
        <h6 style="margin: 0%;">The Premium Quality Products</h6>
    </div>
    </div>
  </nav>