<div class="card" style="width: 18rem; margin: 20px;">
    <img src="../../assets/products/sg351w.png" class="card-img-top" alt="image not load" style=" height: 50%; width: 50%; padding-left: 68px;">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title">Animate Printed T-Sirt</h5>
      <p class="card-text">To Buy this t-sirt at only &#8377;200 click below link.</p>
      <a href="https://www.meesho.com/modern-fancy-boys-tshirts/p/4pz71a" class="btn btn-primary"><button style="background-color: #F43397; color: white; border-radius: 25%; padding-top: 3%;
        padding-bottom: 3%;
        padding-right: 5%;
        padding-left: 5%;">Buy</button></a>
    </div>
</div>